doctype html

html
  head
    title Braden McDorman
    
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/jquery.scrollzer.min.js')
    script(src='js/skel.min.js')
    script(src='js/skel-layers.min.js')
    script(src='js/init.js')
    
    noscript
      link(rel='stylesheet', href='css/skel.css')
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/style-wide.css')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie/v9.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  
  body
    // Header
    #header.skel-layers-fixed
      .top
        // Logo
        #logo
          .image.avatar11
            img(src='images/avatar.jpg', alt='')
          
          h1#title Braden McDorman
          
          p PhD Student, Software Engineer
        // Nav
        nav#nav
          //
            Prologue's nav expects links in one of two formats:
            1. Hash link (scrolls to a different section within the page)
            <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>
            2. Standard link (sends the user to another page/site)
            <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
          ul
            li
              a#top-link.skel-layers-ignoreHref(href='#top')
                span.icon.fa-home Intro
            
            li
              a#portfolio-link.skel-layers-ignoreHref(href='#research')
                span.icon.fa-th Research
            
            li
              a#about-link.skel-layers-ignoreHref(href='#about')
                span.icon.fa-user About Me
            
            li
              a#contact-link.skel-layers-ignoreHref(href='#contact')
                span.icon.fa-envelope Contact
      
      .bottom
        // Social Icons
        ul.icons
          li
            a.icon.fa-facebook(href='https://www.facebook.com/beta0')
              span.label Facebook
          li
            a.icon.fa-github(href='https://github.com/bmcdorman')
              span.label Github
          li
            a.icon.fa-linkedin(href='https://www.linkedin.com/pub/braden-mcdorman/57/b2b/bb0')
              span.label LinkedIn
          li
            a.icon.fa-envelope(href='mailto:bmcdorman@gmail.com')
              span.label Email
    // Main
    #main
      // Intro
      section#top.one.dark.cover
        .container
          header
            h2.alt Braden McDorman
            p
              | PhD Student at The University of Southern California
              br
          
          footer
            a.button.scrolly(href='#research') View Curriculum Vitae
                
      // Portfolio
      section#research.two
        .container
          header
            h2 Research
          p
            | Coming Soon!
          
          //.row
            .4u
              article.item
                a.image.fit(href='#')
                  img(src='images/pic02.jpg', alt='')
                
                header
                  h3 Project 1
              
              article.item
                a.image.fit(href='#')
                  img(src='images/pic03.jpg', alt='')
                
                header
                  h3 Project 2
            
            .4u
              article.item
                a.image.fit(href='#')
                  img(src='images/pic04.jpg', alt='')
                
                header
                  h3 Project 3
              
              article.item
                a.image.fit(href='#')
                  img(src='images/pic05.jpg', alt='')
                
                header
                  h3 Project 4
            
            .4u
              article.item
                a.image.fit(href='#')
                  img(src='images/pic06.jpg', alt='')
                
                header
                  h3 Project 5
              
              article.item
                a.image.fit(href='#')
                  img(src='images/pic07.jpg', alt='')
                
                header
                  h3 Project 8
      // About Me
      section#about.three
        .container
          header
            h2 About Me
          
          a.image.featured(href='#')
            img(src='images/hiking.jpg', alt='')
          
          p
            :markdown
              I am an incoming PhD student in
              the the [University of Southern California's](http://usc.edu/) [Interaction Lab](http://www-robotics.usc.edu/interaction/?l=Home:Home) advised
              by [Maja Mataric](http://robotics.usc.edu/~maja/). I earned my BS in Computer Science from the [University
              of Oklahoma](http://ou.edu/) in 2015. My area of research involves modeling emotion and decision-making processes 
              for use in socially assistive robots.
      
      
      
      // Contact
      section#contact.four
        .container
          header
            h2 Contact
          .row
            .6u
              
                header
                  h3 Academic
                :markdown
                  [mcdorman@usc.edu](mailto:mcdorman@usc.edu)
                  
                      Ronald Tutor Hall (RTH)
                      3710 McClintock Avenue, Room 512
                      Los Angeles, CA 90089-0781
            .6u
              
                header
                  h3 Personal
                :markdown
                  [bmcdorman@gmail.com](mailto:bmcdorman@gmail.com)
            
    // Footer
    #footer
      // Copyright
      ul.copyright
        li &copy; Braden McDorman. All rights reserved.
